select.menuLink,
input#extern {
  background-color: #fff;
  height: 28px;
  padding: 5px 9px;
  background-position: right !important;
  background-repeat: no-repeat !important;
  border: 1px solid #dcdcdc;
  background-image: none;
  background-image: linear-gradient(45deg, transparent 50%, black 100%), linear-gradient(135deg, gray 50%, transparent 50%) !important;
  background-position: calc(100% - 14px) 0.8em, calc(100% - 9px) 0.8em, calc(100% - 2.5em) 0.5em !important;
  background-size: 5px 5px, 5px 5px, 1px 1.5em !important;
  background-repeat: no-repeat !important;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

input#extern {
  background-image: none !important;
  width: 90% !important;
}

select:hover,
input#extern:hover {
  border: 1px solid #7f9db9;
}

option:nth-child(even) {
  background-color: inherit;
}


.disabled-selection {
  color: #b8b2b2 !important;
  cursor: not-allowed !important;
  pointer-events: none;
}
