/**
 * This is the default cp_content.css file which handles the default 
 * CSS settings for the Content Area of the Admin Control Panel 
 */
label.cp-required:before,
.cp-required label:before
{
    content: '*';
    color: red;
    font-size: 90%;
    position: relative;
    top: -0.3em;
    padding-right: 0.1em;
}
.cp-required label{    
    margin-right: 0; 
}
.cp-one-half {
    width: 48% !important;
    float: left;
    margin-left: 5px;
}
.cp-one-third {
    width: 32% !important;
    float: left;
    margin-left: 5px;
}
.cp-two-thirds {
    width: 65% !important;
    float: left;
    margin-left: 5px;
}
.pos-right {
    float: right;
}

/**
 * cp-settings 
 * used for all settings forms in the backend. 
 */
div.cp-settings {
    width: 100%;
}
div.cp-settings:before,
div.cp-settings:after {
    content: "";
    display: table
}
div.cp-settings section {
    border-bottom: 1px solid #90bfdb;
    padding-bottom: 0;
}
div.cp-settings:after,
div.cp-settings .cp-setting-name {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}
div.cp-settings .cp-setting-row:after {
    clear: both
}
div.cp-settings .cp-setting-row:nth-of-type(odd) {
background-color:#f7fcff;
}
    
div.cp-settings .cp-setting-row:nth-of-type(even) {
background-color:#fff;
}
div.cp-settings .cp-setting-row{
    background: rgb(255,255,255);
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
    border-bottom: 1px solid #F3F3F3;
}
div.cp-settings .cp-setting-row,
div.cp-settings .cp-buttons-row,
div.cp-settings .formDescription,
div.cp-settings .formHeading {
    position: relative;
    padding: .5em .75em;
    width: 100%;
    display: table;
}
div.cp-buttons-row {
    background-color: #f2faff;
    padding: .5em 0;
    width: 100%;
    display: table;
}
div.cp-setting-value {
    width: 74%;
}
div.cp-settings div.cp-setting-name,
div.cp-settings label.cp-setting-name {
    width: 25%;
    margin-top: .005em;
    margin-right: 1px;
}
.cp-settings .cp-setting-value-full .cp-setting-value{    
    width: 100%;
    padding-right: 14px;
}
.cp-settings .cp-setting-value-full .cp-setting-name{  
    text-align: left;
    width: 100%;
}

/* show colon after text of .cp-setting-name 
   leave (completely) empty if no colon is to be shown */
.cp-setting-name:not(:empty):after {
    content: ":";
    margin-left: 1px;
}


.cp-settings .cp-setting-name,
.cp-settings label.cp-setting-name,
.cp-settings .cp-setting-value {
    float: left
}
.cp-setting-value label {
    padding-right: 8px;
    cursor: pointer;
}

.cp-setting-value label {
    display: inline-block;
    vertical-align: middle;
}

.cp-setting-value input[type="checkbox"], 
.cp-setting-value input[type="radio"] 
{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.cp-setting-value label {
    font-weight: 600;
}
div.cp-settings .formHeading {
    font-size: 1.35em;
    color: #647086;
    font-weight: bold;
    padding: .05em 0.5em 0.5em 0.8em;
    background-color: white;
    border-bottom: 1px solid #ececee;
}
/**  
 * input elements
 */
div.cp-settings input {
    outline: 0 !important;
}
div.cp-setting-row input[type="file"],
div.cp-setting-row input[type="email"],
div.cp-setting-row input[type="text"],
div.cp-setting-row input[type="password"],
div.cp-setting-row textarea,
div.cp-setting-row select {
    margin: 0;
    padding: .48em 0 .48em .4em;
    width: 99%;
    outline: 0;
}
div.cp-setting-row select {
    padding: 0;
}
div.cp-setting-row input.has-file-ext {
    width: 85%;
    margin-right:0;
}
#file_name.has-file-ext + .file-ext {
  width: 13%;
  color: #818181;
  margin-left:0;
}

div.cp-setting-value textarea {
    width: 99%;
    min-height: 80px;
}
div.cp-setting-value select {
    padding: 0 .2em 0 .2em;
}
div.cp-setting-value select option.selected-item {
    font-weight: bold;
}
div.cp-setting-value select option.disabled-item {
    color: grey;
}
div.cp-settings .cp-buttons-row {
    position: relative;
    text-align: left;
}
div.cp-settings .cp-buttons-row * {}

div.cp-buttons-row .pos-right {
    float: right;
}
/* Form Hints and Warnings */
div.cp-setting-hint,
div.cp-warning-hint,
div.cp-recommend-hint {
    padding: .4em 0;
    font-size: .9em;
}
div.cp-warning-hint {
    color: #cc0033;
}
div.cp-recommend-hint {
    color: #009933;
}
tr.hilite td{
    background-color: #e1ffd2!important;
}
tr.hilite.odd td{
    background-color: #d5f9c3!important;
}


@media (max-width: 750px) {

    div.cp-settings {
        clear: both;
    }
    div.cp-settings label.cp-setting-name,
    div.cp-settings div.cp-setting-name {
        text-align: left;
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
    }
    div.cp-settings label.cp-setting-value {
        display: inline;
        width: 100%;
        margin-bottom: 5px;

    }
    div.cp-setting-row input[type="file"],
    div.cp-setting-row input[type="email"],
    div.cp-setting-row input[type="text"],
    div.cp-setting-row input[type="password"],
    div.cp-setting-row textarea,
    div.cp-setting-row select,
    div.cp-setting-row .form-control {
        width: 100%;
        min-width: 300px !important;
        display: inline-block;
    }
    span.file-ext {
        display: none;
    }

    div.cp-settings label.cp-setting-name,
    div.cp-settings div.cp-setting-name,
    div.cp-settings div.cp-setting-value {
        float: inherit;
        width: 100%;
    }
    .cp-setting-name{
        font-size: 125%;
        padding-bottom: .5rem;
    }
    div.cp-settings label.cp-setting-name,
    div.cp-settings div.cp-setting-name {
        padding-top: 5px;
    }
    div.cp-third,
    div.cp-two-thirds {
        width: 95% !important;
        float: left;
        padding: 12px 6px;
    }
    div.cp-buttons-row .pos-right {
        float: none;
    }
}

.cp-main blockquote{
    font-size: 1.4em;
    margin: 15px 20px;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 0.5em 2em 0.5em 65px;
    border-left: 8px solid var(--primary-color);
    line-height: 1.6;
    position: relative;
    background: #f0f8fc;
}
.cp-main blockquote::before{
    font-family:Arial;
    content: "\201C";
    color: var(--primary-color);
    font-size:4em;
    position: absolute;    
    left: 5px;
    top: -20px;
}
.cp-main blockquote::after{
    content: '';
}
.cp-main blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
}

/**
 * Buttons 
 * we have several types of buttons: 
   <input type="button">
   <button>
   and anchor (link) based buttons
   the following css handles all the above types
   Note: we use a jQuery Plugin in order to enframe input type buttons into
         a div container we couldn't otherwise apply icons to all the buttons
 */
.button {
    display: inline-block;
    white-space: nowrap;
    margin-top: 5px;
    margin-left: 3px;
    cursor: pointer;
}
.button,
.button:hover {
    text-decoration: none;
}
.button:active,
.button.sel,
.button.sel:hover {
    cursor: default;
}
.button:focus {
    outline: 0;
    background: #fafafa;
}
div.button input,
div.button input:hover,
div.button input:active,
div.button input:focus {
    cursor: pointer;
    display: inline;
}

/**
 * cp-table
 */

input[type="text"].cp-table-filter {
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
    border: 2px solid rgb(150,180,200); 
    border-radius: 5px;
}
input[type="text"].cp-table-filter:active,
input[type="text"].cp-table-filter:focus {
    border: 2px solid rgb(150,180,200)!important;     
}
.cp-table { 
    width: 100%; 
    border-collapse: separate; 
    border: 1px solid rgb(150,180,200); 
    border-radius: 5px;
}
.cp-table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
.cp-table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.cp-table tr:first-child th:first-child{
    border-top-left-radius: 5px
}
.cp-table tr:first-child th:last-child{
    border-top-right-radius: 5px;
}
/* 
    Zebra striping 
*/
.cp-table tr:nth-of-type(odd) { 
  background: #f5f8f9; 
}

.cp-table thead th{
    background-color: #CEDEEA;    
    color: #515d76;
  font-weight: bold; 
}
.cp-table td, .cp-table th { 
  padding: 6px; 
  border: thin solid rgb(210,225,230); 
  text-align: left; 
}
.cp-table td.edit-link-name a{ 
    color: #5B7CA3;
    font-weight: 800;
    font-size: 110%;
}
.cp-table td.edit-link-name a:hover{
    text-decoration: none;
    color: #7795b8;
}
.cp-table td.edit-link-name a:before{ 
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f044 \00a0";
}
th.thheader {
    color: #515d76;
    background-color: #CEDEEA;
    height: 25px;
    font-weight: 600;
    vertical-align: bottom;
}
.cp-table th.sort {
    background: #CEDEEA url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg width="12" height="18" viewBox="0 0 20 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" > <g transform="matrix(2.31253,0,0,2.41432,0.721977,0.36179)"> <path d="M0,4L4,0L8,4L0,4Z" style="fill:rgb(150,180,200);fill-rule:nonzero;"/> </g> <g transform="matrix(2.31253,0,0,2.41432,0.721977,0.36179)"> <path d="M0,5L4,9L8,5L0,5Z" style="fill:rgb(150,180,200);fill-rule:nonzero;"/> </g></svg>') no-repeat right center;
    
    padding-right: 18px;
    cursor: pointer;
}

.cp-table th.sort.desc {
    background: #adc4d5 url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg width="12" height="18" viewBox="0 0 20 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" > <g transform="matrix(2.31253,0,0,2.41432,0.721977,0.36179)"> <path d="M0,4L4,0L8,4L0,4Z" style="fill:rgb(150,180,200);fill-rule:nonzero;"/> </g> <g transform="matrix(2.31253,0,0,2.41432,0.721977,0.36179)"> <path d="M0,5L4,9L8,5L0,5Z" style="fill:rgb(210,225,230);fill-rule:nonzero;"/> </g></svg>') no-repeat right center;
}
.cp-table td.desc {
    background-color: #e6f1f5;
}
.cp-table th.asc {
    background: #adc4d5 url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg width="12" height="18" viewBox="0 0 20 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" > <g transform="matrix(2.31253,0,0,2.41432,0.721977,0.36179)"> <path d="M0,4L4,0L8,4L0,4Z" style="fill:rgb(210,225,230);fill-rule:nonzero;"/> </g> <g transform="matrix(2.31253,0,0,2.41432,0.721977,0.36179)"> <path d="M0,5L4,9L8,5L0,5Z" style="fill:rgb(150,180,200);fill-rule:nonzero;"/> </g></svg>') no-repeat right center;
    background-color: #adc4d5;
}
.cp-table td.asc {
    background-color: #eff7fb;
}
.cp-table .highlighted {
    background-color: yellow;
}

/**
 * Buttons (grouped with a radius edge on start and end of buttons group)
 */
.button-group {
    border-radius: 5px;
}
.button-group .button {
    border-radius: 0;
    margin: -2px;
    padding: 0 1em 0 1em;
}
.button-group .button:first-child {
    border-radius: 9px 0 0 9px;
}
.button-group .button:last-child {
    border-radius: 0 9px 9px 0;
}


/*
 * Group Permissions 
 */
/*
    Groups > select permissions
*/
div.permission-area-section{
    margin: 0;
    padding: 0;
}
div.permission-area-section.active{
    margin: 0;
    padding: 0 0 10px;
}
div.permission-area{
    display: grid;
    grid-template-columns: 64px auto;
    grid-template-rows: auto;
}
div.permission-area div{
    margin: 8px 10px; 
}
div.permission-area div:nth-child(2) {
    margin: 0 10px; 
}
div.permission-area div.area-name{
    margin: 8px 10px; 
}

/* icon */
div.permission-area div.area-icon{
    border: 2px solid #c2cbdc;
    border-radius: 6px;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.permission-area div.area-icon label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0; 
}

div.permission-area div.area-icon i.fa{
    color: #5D729B;
    font-size: 36px;
}
/* icon-active */
div.permission-area-section.active div.area-icon{
    border: #9cd49c 2px solid;
    color: #42a042;
}

div.permission-area-section.active div.area-icon i.fa{
    color: #4DB34E;
}


div.permission-area div.area-name label{
    font-size: 1.5em;
    font-weight: bold;
}
div.permission-area div.area-name p{
    margin-left: 1.5rem;
    font-style: italic;
}

/*
    Groups > permissions 
*/
.cp-main .cp-table ul.permissions{
    padding: .3rem;
}
.group-description {    
    font-style: italic;
}
div.permission-area ul.permissions{
    padding: 7px; 
    margin-left: 1.24em;
}
.permissions li {    
    display: inline;
    list-style-type: none; 
    margin-right: 5px;
}   
.permissions li label{    
    display: inline-block; 
    vertical-align: middle;
    font-weight: 600;
}
.permissions li label, .permissions li input {
    display: inline-block;
    vertical-align: middle;
}
.permissions li i{    
    color: #d4d4d4;
} 
.permissions li i.access{    
    color: #74a95b;
}   

.cp-main ul.check_selection{
    padding: 6px 1.4rem; 
}
ul.check_selection li{
    font-size: .8rem;
    line-height: 1.25rem;
    margin-left: 1rem;
    font-weight: 400;
}
ul.check_selection li:first-child{
    font-size: .90rem;
    line-height: 2rem;
    margin-left: 0;
    font-weight: 600;
}


/*
    Subpages links (like in start, admin-tools, addons, access)
 */
section.subpages {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    margin-bottom: 2em;
    gap: .2rem;
}

section.subpages article.subpage{ 
    color: white;
    border: 1px solid grey;
    min-height: 92px;
    display: grid;
    grid-template-columns: 90px auto;
    background: #505b6d;
}
   
.subpage .subpage-icon, 
.subpage .subpage-img{
    vertical-align: middle;
    width: 74px;
    height: 74px;
    text-align: center;
    margin: 7px;
}

.subpage .subpage-icon{    
    border: none;
    padding: 3px 1px;
    background-color: transparent;
}

.subpage .subpage-img img{
    width: 74px;
}
.subpage div.subpage-icon, 
.subpage div.subpage-img svg, 
.subpage div.subpage-img {
    vertical-align: middle;
    fill: white;
    width: 64px;
    height: 64px;
    text-align: center;
    margin: 10px auto;
}

article.subpage .subpage-icon i.fa{
    font-size: 64px;
}


article.subpage a:not(.subpage-title a){
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: 0 -4px 7px 4px;
    padding: 0 4px;
    font-weight: 400;
    text-decoration: none;
    color: #f3f3f3;
    background-color: rgba(203, 207, 216, 0.3);
}
article.subpage:hover{
    background-color: #5b687b!important;
    cursor: pointer;
}


div.subpage-content{
    padding: 8px;
}
div.subpage-content p{
    padding: 0;
    margin: 3px;
    line-height: 1.35rem;
}
p.subpage-title a {
    color: white;
    font-weight: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
p.subpage-dir {
    color: #d8ffa5;
    font-style: italic;
}

section.subpage a:hover{    
    color: white;
    text-decoration: none;
}



.row_om_over{
    cursor: pointer;
    background: #5a6b87 !important;
}

@media (max-width: 890px) {
    section.subpages {
        grid-template-columns: 99%;
    }
}


.operatorList{
    padding: 10px 20px;
}
.operatorList li{
    margin-left: 20px;
}

.operatorList li:first-child{
    font-weight: 600;
    margin-left: 0;
}
/* 
 *  bootstrap like alert boxes
 */
/**
 * We use these with the new MessageBox PHP class
 * it is temporarily here until we figured out a better place for this CSS
 * it may trigger conflicts with bootstrap based themes, but tests need be done
 */
.alert {
    padding: 0.75rem;
    margin: 1.1rem;
    border: 1px solid transparent;
}
.alert h4 {
    margin-top: 0;
    color: inherit;
}
.alert .alert-link {
    font-weight: bold;
}
.alert>p,
.alert>ul {
    margin-bottom: 0;
}
.alert>p+p {
    margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
button.close {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    margin-top: 0px;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-success hr {
    border-top-color: #c9e2b3;
}
.alert-success .alert-link {
    color: #2b542c;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-info hr {
    border-top-color: #a6e1ec;
}
.alert-info .alert-link {
    color: #245269;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-warning hr {
    border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
    color: #66512c;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-danger hr {
    border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
    color: #843534;
}
.alert {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
}
.alert-success {
    background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
    background-repeat: repeat-x;
    border-color: #b2dba1;
}
.alert-info {
    background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
    background-repeat: repeat-x;
    border-color: #9acfea;
}
.alert-warning {
    background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
    background-repeat: repeat-x;
    border-color: #f5e79e;
}
.alert-danger {
    background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
    background-repeat: repeat-x;
    border-color: #dca7a7;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}












/**
 * This is the default cp_content.css file which handles the default 
 * CSS settings for the Content Area of the Admin Control Panel 
 */




.pos-right {
    float: right;
}

.pos-center {
    float: right;
}


.pi-page-title {
    line-height: 30px;
}


.cpSecLabel{
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    text-shadow: none;
    color: #303641;
    margin: 2px 1px;
    padding: 0px 5px;
    border-radius: 3px;
    font-size: .8em;
    white-space: nowrap;
    display: inline-block;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cpSectioninfo a:hover{
    text-decoration: none;
}
.idLabel  {
    background-color: #e6f3fd;
    border-top: 1px solid #5373B4;
    border-left: 1px solid #5373B4;
    border-right: 1px solid #C4CFE5;
    border-bottom: 1px solid #C4CFE5;
    text-shadow: none;
    color: #303641;
    margin: 2px 1px;
    padding: 0px 5px;
    border-radius: 3px;
    font-size: .95em;
    white-space: nowrap;
    display: inline-block;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}


div.hilite {
	border: 2px solid #B3DE73 !important;	
	-webkit-box-shadow: 0px 0px 5px 0px rgba(117,177,186,1) !important;	
	-moz-box-shadow: 0px 0px 5px 0px rgba(117,177,186,1) !important;	
	box-shadow: 0px 0px 5px 0px rgba(117,177,186,1) !important;	
}
li.hilite {
	background: #B3DE73 !important;	
	-webkit-box-shadow: 0px 0px 5px 0px rgba(117,177,186,1) !important;	
	-moz-box-shadow: 0px 0px 5px 0px rgba(117,177,186,1) !important;	
	box-shadow: 0px 0px 5px 0px rgba(117,177,186,1) !important;	
}

/**
 *  Section Pane
 *  Used for single sections in [root]/pages/modify.php
 */
div.cpSectionpane {
    margin: 5px 5px 6px;
    border: 2px solid #dfe1e8;
    display: block;
    background-color: #fff;
}

div.cpSectioninfo>.si-section-id {}

div.cpSectioninfo>.si-block-id {
    float: right;
}

div.cpSectioninfo:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div.cpSectioninfo {
    background-color: #e5e8f0;
    margin: 0px;
    padding: 6px 5px 0px 10px;
    border-bottom: .1em solid #dfe1e8;
    display: block;
}
div.cpSectionpane.secActive0{
    border-color: #d23b30;
}
.secActive0 div.cpSectioninfo,    
.secActive0 div.buttonsRow{    
    background-color: #f9dae0!important;
}
.secActive0 div.cpSectioninfo .cpSecLabel { 
    color: white;
    background-color: #d23b30;
    border-color: #d23b35;
}
div.cpSectionpane.secActive1{
    border-color: #89BF49;
}
.secActive1 div.cpSectioninfo,    
.secActive1 div.buttonsRow{    
    background-color: #f7fdf1!important;
}
.secActive1 div.cpSectioninfo .cpSecLabel { 
    background-color: #e2e2e2;
    border-color: #89BF49;
}
div.cpSectionpane.secActive2{
    border-color: #FFD403;
}
.secActive2 div.cpSectioninfo,    
.secActive2 div.buttonsRow{    
    background-color: #fff5c6!important;
}
.secActive2 div.cpSectioninfo .cpSecLabel { 
    background-color: #ffe877;
    border-color: #FFD403;
}
.secActive1 div.cpSectioninfo{    
}
.secActive0 {    
    border-left: .2em solid #d23b30 !important;
}
.secActive1 {    
    border-left: .2em solid #89bf49 !important;
}
.secActive2 {    
    border-left: .2em solid #ffd403 !important;
}





/* 
 *   CHMOD Settings
 */
table.chmod {
    border: 1px solid #f2f2f2;
    box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    display: table;
    width: 50%;
    margin-left:auto; margin-right:auto; 
}
table.chmod caption{    
    caption-side: top;
    text-align: center;    
    padding-top: .35rem;
    padding-bottom: .35rem;
    font-weight: bold;
} 
table.chmod input.total {
    font-family: courier, monospace; 
    max-width: 110px!important;
    min-width: 110px!important;
    border: none; 
}
table.chmod tr {
    background-image: linear-gradient(#f2f2f2, #fff);
    display: table-row;
}
table.chmod td{
    border-bottom: 1px solid #ddd;
    display: table-cell;
    list-style: outside none none;
    padding: 6px 3px;
    text-align: center;
    min-width: 80px!important;
}
table.chmod td:first-child{
    padding: 4px 6px;
    font-weight: bold;
    text-align: right;
}
table.chmod body td:first-child:after {
    content: ':';
}

table.chmod thead td{
    background-image: linear-gradient(#677d96, #859ab2);
    color: #fff;
    font-weight: bold;
}
table.chmod tfoot td {
    background-image: linear-gradient(#c8d5e4, #b3cdea);
    color: #40638a;
    font-weight: bold;
}



.ico-color-trash, .ico-color-trash:focus, 
.ico-color-red, .ico-color-red:focus{
    color: #de5555;
}
.ico-color-trash:hover,
.ico-color-red:hover{
    color: #d21c1c;
}
.ico-color-trash-off, .ico-color-trash-off:hover{
    color: #bec6ce;
}
.ico-color-off{
    color: #bec6ce;
}
.ico-color-off:hover{
    color: #f9c578;
}
.ico-color-on, .ico-color-on:hover, .ico-color-on:focus{
    color: #ff9800;
    cursor: default;
}

.seo-counter{
    font-size: .85em;
    padding: 0 .7em .4em 0;
    float:right;
}

/* ################ */
@media (max-width: 890px) {
    .cp-half{
        width: 99% !important;
        clear: both;
        float: none;
    }
    .cpWrap div.cpLastchange {
        display: block;
        float: left;
        text-align: left;
        font-size: .8em;
        line-height: 1.9em;
    }

    div.cpForm {
        clear: both;
    }

    div.cpForm label.settingName,
    div.cpForm div.settingName {
        text-align: left;
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
    }

    div.cpForm label.settingValue {
        display: inline;
        width: 100%;
        margin-bottom: 5px;

    }

    div.cpForm label.settingName,
    div.cpForm div.settingName,
    div.cpForm div.settingValue {
        float: inherit;
        width: 100%;
    }

    div.cpForm label.settingName,
    div.cpForm div.settingName {
        padding-top: 5px;
        padding-left: 12px;
    }

    div.cp-third,
    div.cp-two-thirds {
        width: 95% !important;
        float: left;
        padding: 12px 6px;
    }

    div.buttonsRow .pos-right {
        float: none;
    }
}

.ace-editor{
    font-size: 1.2em;
    width: 98%;
    min-height: 250px;
}


/** SECTION 1 **/

/* Hide the OS/Browser checkboxes/radio buttons */
.sec_access input[class^="toggle"],
.sec_addons input[class^="toggle"] {
  visibility: hidden!important;
  margin: 0!important;
  width: 0!important;
}